<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhq.mysql.dao.GroupInfoMapper">
	<!-- 开启缓存 -->
	<cache />
	<resultMap id="GroupInfoMap" type="com.yhq.mysql.pojo.GroupInfo">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="group_No" jdbcType="VARCHAR" property="groupNo" />
		<collection property="entryPeopleList" javaType="java.util.List" ofType="com.yhq.mysql.pojo.EntryPeople" resultMap="EntryPeopleMap" />
	</resultMap>
	<resultMap type="com.yhq.mysql.pojo.EntryPeople" id="EntryPeopleMap">
		<result column="entry_people_id" property="id" jdbcType="INTEGER" />
		<result column="entry_No" property="entryNo" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="storeCode" property="storeCode" jdbcType="VARCHAR" />
		<result column="ID_card_No" property="idCardNo" jdbcType="VARCHAR" />
		<result column="cell_phone" property="cellPhone" jdbcType="VARCHAR" />
		<result column="area" property="area" jdbcType="VARCHAR" />
		<result column="valid_flag" property="validFlag" jdbcType="TINYINT" />
	</resultMap>
	<sql id="Base_Column_List">
		g.*,entry_people_id, group_info_id,
		entry_No, name, storeCode, ID_card_No, cell_phone, area, valid_flag
	</sql>

	<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="GroupInfoMap">
		select
		<include refid="Base_Column_List" />
		from group_people_relation gpr,entry_people p,group_info g
		where
		gpr.entry_people_id=p.id and gpr.group_info_id=g.id and
		g.id =
		#{id,jdbcType=INTEGER}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from group_info
		where id = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="insert" parameterType="com.yhq.mysql.pojo.GroupInfo">
		insert into group_info (id, group_No)
		values (#{id,jdbcType=INTEGER},
		#{groupNo,jdbcType=VARCHAR})
	</insert>

	<insert id="insertSelective" parameterType="com.yhq.mysql.pojo.GroupInfo">
		insert into group_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="groupNo != null">
				group_No,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="groupNo != null">
				#{groupNo,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.yhq.mysql.pojo.GroupInfo">
		update group_info
		<set>
			<if test="groupNo != null">
				group_No = #{groupNo,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

	<update id="updateByPrimaryKey" parameterType="com.yhq.mysql.pojo.GroupInfo">
		update group_info
		set group_No = #{groupNo,jdbcType=VARCHAR}
		where id =
		#{id,jdbcType=INTEGER}
	</update>
</mapper>